<div class="tweets-container">
  <% tweets.each do |tweet| %>
    <div class="tweet <%= cycle('even', 'odd') -%>">
      <div class='tweet-img'>
        <%=link_to get_medium_profile_pic(user), user_path(user) %>
      </div>
      <div class='tweet-info'>
        <div class='tweet-username'>
          <%=link_to tweet.user.username, user_path(user) %>
        </div>
        <div class='tweet-text'>
          <%= tweet.post %>
        </div>
        <div class='tweeted-at'>
          <%= time_ago_in_words(tweet.created_at) %> ago
        </div>
      </div>
    </div>
  <% end %>
</div>