<% content_for(:right_part) do %>
  <div class="right-container">
    <% if current_user == user %>
      <div class="tweet">
        Your Tweets <b>(<%= user.tweets_count %>)</b> <br />
        <%= user.last_tweet.post if user.last_tweet %>
      </div>
    <% end %>
    <div class="followers">
      Followers <b>(<%= user.followers_count %>)</b> <br />
      <% user.user_followers.limit(4).each do |follower| %>
        <%= link_to get_thumb_profile_pic(follower), user_path(follower) %>
      <% end %>
    </div>
   
    <div class="following">
      Following <b>(<%= user.follow_count %>)</b> <br />
      <% user.following_users.limit(4).each do |following| %>
        <%= link_to get_thumb_profile_pic(following), user_path(following) %>
      <% end %>
    </div>
    
    <% if current_user == user %>
      <div class="suggested-following">
        Who to follow <br />
        <% current_user.follower_suggestion.each do |suggestion| %>
          <%= link_to get_thumb_profile_pic(suggestion), user_path(suggestion) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>